---
//import Header from "../components/Header.astro";
import { Footer, HeaderFixed } from "@forever-twenty-nine/astro-ui-lib";
import BaseHead from "../components/BaseHead.astro";
import { config } from "../../config";
//import HeaderFixed from "astro-ui-lib/HeaderFixed";

const { title, description, heroImage } = Astro.props;

const navLinks = [
    {
        href: "/",
        text: "Home",
    },
    {
        href: "/blog",
        text: "Blog",
    }
];

import Logo from "../assets/brand.svg";
import LogoFooter from "../assets/brand-negative.svg";
---

<html lang="es">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body class="bg-white text-black">
        <HeaderFixed
            id="main-header"
            class="bg-pink-200"
            links={navLinks}
            brand={{
                href: "#hero",
                id: "brand-logo",
                class: "hover:opacity-80",
                src: Logo,
                alt: config.brandAlt,
                classImage: "h-10 w-auto",
            }}
        />

        <main class="max-w-5xl mx-auto px-4 py-12">
            {
                heroImage && (
                    <div class="hero-image mb-8">
                        <img
                            src={heroImage}
                            alt={title}
                            class="w-full rounded-xl shadow-md"
                        />
                    </div>
                )
            }
            <section>
                <slot />
                <!-- ✅ Esto sí muestra tu Hero1 -->
            </section>
        </main>
        <Footer
            imageSrc={LogoFooter}
            legend={config.siteLegend}
            copyright={`© ${new Date().getFullYear()} ${config.site}`}
            author={`Creado por ${config.author}`}
        />
    </body>
</html>
